.nav-tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
  text-decoration: none;
}
.cityname {
  text-transform: capitalize;
}
.search-input {
  /* background-color: black; */
  /* display: inline-flex; */
  display: flex;
  justify-content: center;
}

.search-button {
  width: 20%;
}

.search {
  gap: 10px;
}

/* -------------------------------------- */

html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  background-image: linear-gradient(39deg, #ffdb58, transparent );
}
a{
  text-decoration: none;
}
a :hover{
  color:red;
}
.a_button{
  border: 2px solid red;
  padding: 10px 20px;
  border-radius: 10px;
}
.content__wrapper {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding: 4.5rem 0;
}
.menu-icon__line {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #0C383E;
  display: block;
}
.menu-icon__line:before, .menu-icon__line:after {
  content: '';
  width: 1.5rem;
  height: 0.2rem;
  background-color: #0C383E;
  display: inline-block;
  position: relative;
}
.menu-icon__line:before {
  left: 0.5rem;
  top: -0.6rem;
}
.menu-icon__line:after {
  top: -1.8rem;
}
.heading {
  width: 90%;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.7rem;
  margin: 0 auto;
  text-align: center;
}
.subheading{
  width: 90%;
  font-weight: bold;
  padding-top: 10px;
  line-height: 1.7rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  text-decoration: none;
}
.coords {
  font-size: 1rem;
  display: inline-block;
  transform: rotate(-90deg) translateY(50%);
  float: left;
  position: relative;
  top: 50rem;
  letter-spacing: 0.2rem;
  left: -11.5rem;
  margin: 0;
}
.weathercontainer {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 10.5rem;
}
.scroller {
  float: right;
  top: -15%;
}
.scroller .page-title {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5rem;
  display: inline-block;
  float: left;
  margin-top: 1rem;
}