.graph {
  border-radius: 10px;
  height: 20rem;
  width: 0rem;
  border: 10px;
}

.nav-tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
  text-decoration: none;
}

.city {
  text-transform: capitalize;
}

.search-container{
  margin-top: 20%;
}

.search-input {

  display: flex;
  width: 60%;
  margin: 0px auto 0px  auto;

}

.search-button {
  /* cursor: pointer; */
  /* -webkit-transition-duration: 0.4s; */
  /* transition-duration: 0.4s; */

  background-color: #665823;
  color: #ffdb58;
  font-weight: 900;
  font-size: 20px;
  width: 20%;
  margin-left: 20px;
  border-radius: 10px;
}

.search {
  gap: 10px;
}

/* -------------------------------------- */

html {
  font-family: Helvetica;
  /* font-size: 62.5%; */
}

body {
  font-size: 1.4rem;
  /* background-image: linear-gradient(39deg, #ffdb58, transparent); */
  background-color: #ffdb58;
  padding: 2rem 10rem;
}

a {
  text-decoration: none;
}


.search-heading {
  font-family: 'Pacifico', cursive;
  padding: 20px;
  color: #332c12;
  text-shadow: 2px 2px 4px #ffdb58;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.7rem;
  text-align: center;
}

.result-heading{
  display: flex;
  justify-content: center;

  font-family: 'Pacifico', cursive;
  padding: 20px;
  color: #332c12;
  margin: auto;
}
.gb-button{
  margin: auto 15px;
}

.gb-image{
  margin: auto 0px auto 0px;
}

.css-1qqsdnr-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 9px;
    background-color: #ccaf46;
    color: white;
}

/* Info file CSS */
.weather{
  background-color: #806e2c;
  color: white ;
}

.top,
.bottom{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.city-name{
 font-weight: 600;
 font-size: 28px;
 line-height: 1;
 margin: 0;
 letter-spacing: 1px;
}

.weather-description{
 font-weight: 400;
 font-size: 18px;
 text-transform: capitalize;
 line-height: 1;
 margin:0;
}
.weather-icon{
 width: 100px;
}

.temperature{
 font-weight: 600;
 font-size: 70px;
 width: auto;
 letter-spacing: -5px;
 margin: 10px 0;
}
.details{
 width: 100%;
 padding-left: 20px
}

.parameter-row{
 display: flex;
 justify-content: space-between;
}

.parameter-label{
 text-align: left;
 font-weight: 400;
 font-size: 12px;
}

.parameter-value{
 text-align: right;
 font-weight: 600;
 font-size: 12px;
}

/* C TO F TOGGLE BUTTON */
.checkbox {
  
  opacity: 0;
  position: absolute;
}

.label {
  box-sizing: border-box;
  width: 50px;
  height: 26px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}